{% extends "layout.html" %}

{% block content %}
	
	<div class="container" style="border:2px dashed gray; width:70%;margin:0 auto;">
		<p>
			The problem of  recognition of facial expressions is still an ongoing research, and it relies on advancements in Image Processing and Computer Vision techniques. Such systems have a variety of interesting applications, from human-computer interaction, to robotics and computer animations. Their aim is to provide robustness and high accuracy, but also to cope with variability in the environment and adapt to real time scenarios.
			</p>
			<p>
			This paper proposes the facial expression recognition system, capable of distinguishing the four universal emotions: anger, happiness, sadness and surprise. It is designed to be person independent and tailored only for static images. The system integrates a face detection mechanism, feature extraction and performs classification.

		</p>

	</div>
{% endblock %}